LDAP:
    server:       ldap://ldap.example.com
    binduser:     cn=ldapsearchuser,dc=example,dc=com
    bindpassword: secret

    groupbase:    o=Providers,dc=example,dc=com
    groupfilter:  (&(objectClass=groupOfUniqueNames)_LDAPGROUPFILTER_)

    userbase:     cn=Users,dc=example,dc=com
    userfilter:   (&(objectClass=Users)_LDAPFILTER_)

    specialfields:
        username:   uid
        alias:      mail
        password:   plainpassword

    fields:
        gn:               givenname
        sn:               sn
        c:                c
        zimbraPrefLocale: lang  

